body {
    margin: 0;
    font-family: ProxReg, sans-serif;
    color: white;
    background: #000;
    scroll-behavior: smooth; /* Smooth scroll behavior for anchor jumps */
}

section {
    scroll-margin-top: 63px; /* offset by the height of the nav */
}

.ui {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 20px; 
    background: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
}

.logo {
	padding-top: 4px;
    margin-right: 12px;
    height: 100%;
}

.button {
    font: .8rem ProxReg, sans-serif;
    color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
    border: 1px solid #acacac;
    text-align: center;
    margin: 6px;
    cursor: pointer;
}

.button:hover { 
    background-color: #444;
	color: #fff;
}

.active { 
    background-color: #555;
    color: #fff;
}

/* Each section is full viewport height */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

.text-section {
    width: 35%;
    background: #0E0A13;
    padding: 60px 60px 0px 100px;
    box-sizing: border-box;
}

.intro {
    width: 50%;
    background: #0E0A13;
    box-sizing: border-box;
    padding: 140px 140px 0 120px;
}

.intro-bg {}


.text-section h1 {
    font-family: Gaz;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.text-section h2 {
    font-family: Gaz;
    font-size: 1.25rem;
    line-height: 1.7;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.text-section ul {
    width: 80%;
    padding-left: 40px;
    list-style-type: disc;
}

.text-section li {
    line-height: 1.6;
    margin-bottom: 16px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.image-who {
background-size: auto 100%;
background-image: url("bg1.jpg");
}
.image-what {
background-size: auto 100%;
background-image: url("bg2.png");
}
.image-intro {
background-size: auto 100%;
background-image: url("woodbg.jpg");
}



